
  <h1 class="mb-3 text-center text-italic">Best Tours</h1>

  <div class="grid" >
    <div class="col" *ngFor="let item of [].constructor(6);">
      <div class="flex justify-content-center  mt-5">
        <div class="border-green-500 hover:border-green-700 border-1">

          <app-card-exaple></app-card-exaple>
        </div>
      </div>
    </div>
 
  
  </div>
  <app-benefits></app-benefits>
  
  <div class="  mb-6">
    <p class="font-italic text-center text-xl">
      Travel agents help their clients make travel plans. In addition to booking reservations, 
      they assist customers in choosing their destination, transportation
     
       Planning and selling transportations, accommodations,
       insurance and other travel services. Cooperating with clients to 
       determine their needs and advising them appropriate destination, 
       modes of transportations, travel dates, costs and accommodations.
    </p>
 
  </div>
   
  
    
    
 

