
  <h1 class="p-mb-3 p-text-center p-text-italic">Best Tours</h1>

  <div class="p-grid" >
    <div class="p-col" *ngFor="let item of [].constructor(6);">
      <div class="myCard p-mt-5">

        <app-card-exaple></app-card-exaple>
      </div>
    </div>
 
  
  </div>
  <app-benefits></app-benefits>
  
  <div class="p-mb-3 p-mt-6 p-mb-6 p-text-center p-text-italic ">
    <p class="description">
      Travel agents help their clients make travel plans. In addition to booking reservations, 
      they assist customers in choosing their destination, transportation
     
       Planning and selling transportations, accommodations,
       insurance and other travel services. Cooperating with clients to 
       determine their needs and advising them appropriate destination, 
       modes of transportations, travel dates, costs and accommodations.
    </p>
 
  </div>
   
  
    
    
 

