

<p-galleria [(value)]="images" [(visible)]="displayBasic" 
  [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
  [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.path" style="width: 100%; display: block;" />
  </ng-template>
</p-galleria>


<div *ngIf="ifTourNotNull()" class="card p-3 ">
  <div class="flex flex-wrap flex-column justify-content-center">

    <div class="flex align-items-center justify-content-center  m-2 ">

      <p  class="text-2xl font-italic ">

        {{tour.name}}
      </p>

    </div>

    <div class="flex flex-wrap flex-row justify-content-between ">

      <div class="flex-1 flex p-1 justify-content-center">

        <a (click)="viewGallery()">

          <img [src]="tour.mainImage"
            class="cursor-pointer p-shadow-7 border-2 border-solid p-1 border-green-400 hover:border-green-600"
            [style]="{width:'350px' ,height:'450px'}" />
        </a>


      </div>
      <div class="flex-1 flex p-1 justify-content-center ">
        <div
          class="surface-overlay border-round border-1 border-solid p-1 border-green-400 mt-2  min-h-full shadow-1 p-5 py-0 ">
          <p class="text-center mt-2 font-italic text-2xl">
            Pay attention
          </p>
          <p class="text-justify mt-2">

            1. The operator on this tour may pay extra for the choice of flights, insurance, holiday dinners during the
            Christmas period.
            <br />
            2. The price is current at the time of viewing these pages.
            <br />

            3. Calculations of production in the national currency at the rate of the tour operator.
            <br />

            To clarify the information, contact our manager - we will find all the details of booking these offers.
          </p>

        </div>

      </div>
    </div>



  </div>



  <div class="card mt-6">



    <p-tabView styleClass="tabview-custom  ">
      <p-tabPanel>
        <ng-template pTemplate="header">
          <fa-icon class="icon text-green-400 text-2xl mr-2" [icon]="faInfoCircle"></fa-icon>

          <span>Description</span>
        </ng-template>
        <div class="flex justify-content-center">
          <b >
            {{tour.town}}
          </b>
        </div>
        <p class="text-justify mt-2">
            
        
          Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Voluptas incidunt labore
          deleniti beatae accusantium aperiam! Voluptate
          repudiandae qui consequuntur sequi labore quod
          tempore quidem nihil tempora. Libero quaerat hic in!
          {{tour.description}}
        </p>
      </p-tabPanel>
      <p-tabPanel header="Hotel">
        <ng-template pTemplate="header">
          <fa-icon class="icon text-green-400 text-2xl mr-2" [icon]="faHotel"></fa-icon>

          <span>Hotel</span>
        </ng-template>
        <div class="flex flex-wrap justify-content-around">

          <div *ngIf="!ifDefaultImg()" class="flex p-2 justify-content-center ">
            <div class="flex flex-column">

              <span *ngIf="ifHotelNoteNull()"  class="flex align-items-center justify-content-center  text-2xl pb-3">{{hotel.name}}</span>
              <img *ngIf="ifHotelNoteNull()" [src]="hotel.mainImage" [style]="{width:'350px' ,height:'450px'}" />
            </div>
          </div>
          <div class="flex flex-wrap justify-content-center ">
            <div class="flex flex-column">
              <p class="text-2xl justify-content-center text-center mt-4 pb-3">Services</p>
              <div class="flex  flex-row flex-wrap">


                <div *ngIf="ifGenearalNotEmpty()" class="flex ml-4 justify-content-center">


                  <fa-icon [style]="{width:'60px'}" class="icon text-green-400 text-6xl" [icon]="faInfo"></fa-icon>


                  <ul>
                    <li *ngFor="let item of GeneralServices">{{item.service}}</li>
                  </ul>
                </div>

                <div *ngIf="ifFokKidsNotEmpty()" class="flex ml-4 justify-content-center">

                  <fa-icon [style]="{width:'60px'}" class="icon text-green-400 text-6xl" [icon]="faChild"> </fa-icon>
                  <ul>
                    <li *ngFor="let item of ForKidsServices">{{item.service}}</li>
                  </ul>
                </div>
                <div *ngIf="ifSportNotEmpty()" class="flex ml-4  justify-content-center">

                  <fa-icon [style]="{width:'60px'}" class="icon text-green-400 text-6xl" [icon]="faVolleyballBall">
                  </fa-icon>
                  <ul>
                    <li *ngFor="let item of SportServices">{{item.service}}</li>
                  </ul>
                </div>
                <div *ngIf="ifBeachNotEmpty()" class="flex  ml-4 justify-content-center">

                  <fa-icon [style]="{width:'60px'}" class="icon text-green-400 text-6xl" [icon]="faUmbrellaBeach">
                  </fa-icon>
                  <ul>
                    <li *ngFor="let item of BeachServices">{{item.service}}</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Price">
        <ng-template pTemplate="header">
          <fa-icon class="icon text-green-400 text-2xl mr-2" [icon]="faDollarSign"></fa-icon>

          <span>Price</span>

        </ng-template>
      
          <div class="flex justify-content-between flex-wrap ">
            <div class="flex">

              <h5>Hotels Room</h5>
            </div>
            <div class="flex">

              <h5 class="mr-4">Duration: {{tour.duration}} nights</h5>
            </div>
            <div class="flex">

              <h5 class="mr-4">Cost Tour: {{tour.costinDoldars}} $</h5>
            </div>
          </div>
          <button pButton pRipple type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()"
          [disabled]="columns.length === 20" class="mr-2 mt-2"></button>
          <button pButton pRipple type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()"
          [disabled]="columns.length === 0"></button>
          
          <div class="mt-4">
            <div  *ngFor="let col of columns; let i=index" [@animation]="'visible'">
              <div class="card m-2 z-0">
                <div class="flex flex-wrap justify-content-between ">

                  <div class="flex p-4">{{i + 1}}</div>
                  <div class="flex align-items-center p-4 ">
                    <p-dropdown baseZIndex=10 class="max-w-min md:max-w-max z-3" 
                   [showClear]="true" placeholder="Select a Room"
                    [options]="roomlist" 
                    optionLabel="name"
                    appendTo="body"
                    optionValue="name"
                    [style]="{width:'220px'}"
                   
                      (onChange)="roomSelected(i,$event)"
                     [virtualScroll]="true" [itemSize]="6" 
                    ></p-dropdown>
                  </div>
                  <div class="flex align-items-center pr-5 p-4 ">
                    <p-dropdown baseZIndex=10 class="max-w-min md:max-w-max z-3" 
                    [showClear]="true" placeholder="Select a Food Service"
                    [options]="foodlist" 
                    (onChange)="foodSelected(i,$event)"
                    appendTo="body"
                    optionValue="name"
                   
                    optionLabel="name"
                   [style]="{width:'220px'}"
                   
                     [virtualScroll]="true" [itemSize]="6" 
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
     
      </p-tabPanel>
      <p-tabPanel header="Review">
        <ng-template pTemplate="header">
          <fa-icon class="icon text-green-400 text-2xl mr-2" [icon]="faComment"></fa-icon>

          <span>Reviews</span>

        </ng-template>
        <p>
          Your rating
        </p>
        <p-rating [(ngModel)]="rating" [cancel]="false"></p-rating>
        <p>Your Review</p>
        <textarea rows="10" class="inputfield w-full  p-inputtext " id="shortdescription" pInputTextarea
          autoResize="autoResize"></textarea>
        <div class="flex flex-row-reverse mt-5">
          <div class="flex">

            <button pButton label="Send" class=" minwidth"></button>
          </div>
        </div>

      </p-tabPanel>
    </p-tabView>

  </div>



</div>