<p-toast></p-toast>
<div class="card" >
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="button-success mr-2" (click)="openNew()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTours()"
         [disabled]="!selectedTours || !selectedTours.length"></button>
    </ng-template>

   
</p-toolbar>
<p-table #dt [value]="tours" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedTours" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage Tours</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
              </span>
          </div>
     
     
     

        </ng-template>


        <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Image</th>
              <th pSortableColumn="costinDolars">Price <p-sortIcon field="costinDolars"></p-sortIcon></th>
              <th pSortableColumn="town">Town <p-sortIcon field="town"></p-sortIcon></th>
              <th pSortableColumn="hotel">Hotel <p-sortIcon field="hotel"></p-sortIcon></th>

              <th pSortableColumn="duration">Duration <p-sortIcon field="duration"></p-sortIcon></th>
              <th></th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-tour>
        <tr>
            <td>
                <p-tableCheckbox [value]="tour"></p-tableCheckbox>
            </td>
            <td>{{tour.name}}</td>
            <td><img [src]="tour.mainImage" [alt]="tour.name" width="100" class="shadow-4" /></td>
            <td>{{tour.costinDoldars | currency:'USD'}}</td>
            <td>{{tour.town }}</td>
            <td>{{tour.hotel }}</td>
           
            <td>{{tour.duration}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTour(tour)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTour(tour)"></button>
            </td>
        </tr>
    </ng-template>




    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{tours ? tours.length : 0 }} tours.
        </div>
    </ng-template>

</p-table>


</div>

<p-dialog [(visible)]="tourDialog" [style]="{width: '600px'}" header="Tour Details" [modal]="true" styleClass="fluid">

  <ng-template pTemplate="content">
    <!-- <img [src]="tour.mainImage" [alt]="tour.mainImage" class="product-image" *ngIf="tour.mainImage">   -->
    <div class="">
      
      <div class="field">
          <label for="name">Name</label>
          <input pInputText  type="text" class="inputfield w-full" id="name" [(ngModel)]="tour.name" required autofocus>        
          <small class="error" *ngIf="submitted && !tour.name">Name is required.</small>
      </div>
      <div class="field">
        <label for="image">Main Image</label>
        <p-fileUpload name="demo[]" id="image"  
        [multiple]="false"
        (onSelect)="preview($event)" customUpload="true"
        accept="image/*" maxFileSize="1000000" chooseLabel="Browse Image" 
        [showUploadButton]="false" [auto]="true" >
         
      </p-fileUpload>  
      </div>

      <div class="field ">
        <div class="flex align-items-center justify-content-between">
          <div class="flex-1 flex-column">

            <p-radioButton name="groupname" class="mb-1"  
            inputId="add" value="Add" (onClick)="check($event)" [(ngModel)]="selectedValue"
            
            ></p-radioButton>
            <label class="mt-1 ml-2 mb-0" for="add">Add to Gallery</label>
        
            </div>
            <div class="flex-1 ml-2 flex-column">
            
              <p-radioButton name="groupname" class="mb-1" inputId="update" [disabled]="disablecheck === true"
               value="Update" (onClick)="check($event)" [(ngModel)]="selectedValue"></p-radioButton>
            <label class="mt-1 ml-2 mb-0" for="update">Update gallery</label>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="gallery">Gallery</label>
        <p-fileUpload name="demo[]" id="gallery"  
        [multiple]="true"
        (onSelect)="gallery($event)" customUpload="true"
        accept="image/*" maxFileSize="1000000"
         chooseLabel="Browse Image" 
        [showUploadButton]="false" 
        [auto]="true" >
         
      </p-fileUpload>  
      </div>

      <div class="field ">
        <div class="flex align-items-center justify-content-between">
          <div class="flex flex-column">

            <label for="price">Town</label>
            <p-dropdown  class="max-w-min md:max-w-max" [options]="towns" 
            [(ngModel)]="town"
            optionLabel="name"
           
            [autoDisplayFirst]="true"
            (onChange)="townSelected($event)"
             [virtualScroll]="true" [itemSize]="5" 
            [style]="{width: '250px'}"  ></p-dropdown>
            </div>
            <div class="flex ml-2 flex-column">
            
            <label for="duration">Hotel</label>
            <p-dropdown  class="max-w-min md:max-w-max"
            (onFocus)="townSelected($event)"
             [options]="hotels" 
            [(ngModel)]="hotel"
            placeholder="Select town first"
            optionLabel="name"
           
            [autoDisplayFirst]="true"
           
             [virtualScroll]="true" [itemSize]="5" 
            [style]="{width: '250px'}"  ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="shortdescription">Short Description</label>
        <textarea rows="1"  class="inputfield w-full  p-inputtext " id="shortdescription" 
        pInputTextarea autoResize="autoResize" 
         [(ngModel)]="tour.shortDescription"></textarea>
       
      </div>
      <div class="field">
        <label for="description">Description</label>
        <textarea rows="3"  class="inputfield w-full  p-inputtext " id="description" 
        pInputTextarea autoResize="autoResize"
          [(ngModel)]="tour.description"></textarea>
       
      </div>
      <div class="field ">
        <div class="flex align-items-center justify-content-between">
          <div class="flex flex-column">

            <label for="price">Price</label>
            <p-inputNumber id="price"
            [style]="{width: '250px'}" 
            [(ngModel)]="tour.costinDolars" mode="currency" 
            currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="flex ml-2 flex-column">
            
            <label for="duration">Duration</label>
            <p-inputNumber [style]="{width: '250px'}"  
          [(ngModel)]="tour.duration" class="inputfield w-full" mode="decimal" [showButtons]="true" 
          inputId="minmax-buttons" [min]="1" [max]="14">
          </p-inputNumber>
          </div>
        </div>
      </div>


    
  </div>


  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="button-text" (click)="saveTour()"></button>
</ng-template>


  
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
