<div class="p-grid">

<div class="p-col p-mt-6">
  <div class="p-mb-3 p-text-center p-text-italic description">
     <fa-icon class="icon" [icon]="faBus"></fa-icon>
     <br/>  Best Tours
  </div>
</div>
<div class="p-col p-mt-6">
  <div class="p-mb-3 p-text-center p-text-italic description">
     <fa-icon class="icon" [icon]="faSmile"></fa-icon>
     <br/>   Thousands of satisfied customers
  </div>
</div>
<div class="p-col p-mt-6">
  <div class="p-mb-3 p-text-center p-text-italic description">
     <fa-icon class="icon" [icon]="faGlobeAfrica"></fa-icon>
     <br/>
     
Hundreds of countries
  </div>
</div>
</div>