
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class=" flex flex-column   ">
    <h3 class="flex align-items-center justify-content-center mt-3 ">
      Login
    </h3>
  
    <div class="flex form-group mt-6">

     
  
      <div class="flex align-items-center justify-content-center ">
        <span class="p-float-label   ">
          <input id="float-input" type="text" formControlName="Email" class="minwidth" pInputText>
          <label class="fontsize" for="float-input">Email</label>
        </span>

      </div>
    </div>

    <div class="flex form-group mt-3">

      <div class="flex align-items-center justify-content-center">
        <span class="p-float-label minwidth ">

          <p-password formControlName="Password" class="minwidth " [toggleMask]="true"></p-password>

          <label class="fontsize" for="password" class="minwidth">Password</label>

        </span>
      </div>

    </div>

    <div class="flex form-group mt-3">
      <div class=" flex align-items-center justify-content-center">

        <button pButton label="Login" class="minwidth" [disabled]="loginForm.invalid"></button>
      </div>
      </div>
      <div class="flex form-group mt-3">
      <div class=" flex align-items-center justify-content-center">

        <button pButton label="Register"  [routerLink]="['/register']" class=" minwidth" ></button>
        </div>
</div>
    </div>
    
</form>

