<p-toast></p-toast>
<div class="card" >
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="button-success mr-2" 
        (click)="openNew()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" 
        (click)="deleteSelectedHotels()"
         [disabled]="!selectedHotels || !selectedHotels.length"></button>
    </ng-template>
   
   
</p-toolbar>
<p-table #tablehotel [value]="hotels" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedHotels" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <h5 class="m-0">Manage Hotels</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" 
                  (input)="tablehotel.filterGlobal($event.target.value, 'contains')" 
                  placeholder="Search..." />
              </span>
          </div>
     
     
     

        </ng-template>


        <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Image</th>
              <th pSortableColumn="town">Town <p-sortIcon field="town"></p-sortIcon></th>
              <th pSortableColumn="stars">Stars <p-sortIcon field="stars"></p-sortIcon></th>
             <th></th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-hotel>
        <tr>
            <td>
                <p-tableCheckbox [value]="hotel"></p-tableCheckbox>
            </td>
            <td>{{hotel.name}}</td>
            <td><img [src]=" hotel.mainImage" [alt]="hotel.name" width="100" class="shadow-4" /></td>
            
            <td *ngIf="hotel.town!=null">{{hotel.town }}</td>
            <td *ngIf="hotel.town==null" [ngClass]="{'outofstock': hotel.town==null}">NULL</td>
           
            <td><p-rating [ngModel]="hotel.stars" [readonly]="true" [cancel]="false"></p-rating></td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editHotel(hotel)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteHotel(hotel)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{hotel ? hotel.length : 0 }} hotel.
        </div>
    </ng-template>

</p-table>


</div>




<p-dialog [(visible)]="hotelDialog" [style]="{width: '600px'}" header="Hotel Details" 
[modal]="true" styleClass="fluid">

  <ng-template pTemplate="content">
    <div class="">
      <div class="field">
        <label for="image">Name</label>
        <input pInputText  type="text" class="inputfield w-full" id="image" [(ngModel)]="hotel.name" >        
       
    </div>
    <div class="field">
      <label for="image">Main Image</label>
      <p-fileUpload name="demo[]" id="image"  
      [multiple]="false"
      (onSelect)="preview($event)" customUpload="true"
      accept="image/*" maxFileSize="1000000" chooseLabel="Browse Image" 
      [showUploadButton]="false" [auto]="true" >
       
    </p-fileUpload>  
    </div>
      <div class="field">
        <label class="w-full" for="towns">Town</label>
        
        <p-dropdown  class="max-w-min md:max-w-max" 
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Town"
        [options]="towns" 
        [(ngModel)]="town"
        optionLabel="name"
       
        [autoDisplayFirst]="true"
       
         [virtualScroll]="true" [itemSize]="5" 
        [style]="{width: '535px'}"  ></p-dropdown>
        
        </div>
        <div class="field">
          <label for="address" >Address</label>
          <textarea rows="1" 
         
          class="inputfield w-full   p-inputtext " id="address" 
          pInputTextarea autoResize="autoResize"
            [(ngModel)]="hotel.address"></textarea>
         
        </div>
        <div class="field ">
          <label class="w-full" for="minmax-buttons">Stars</label>
          <p-inputNumber [style]="{width: '535px'}"  
          [(ngModel)]="hotel.stars" class="inputfield w-full" mode="decimal" [showButtons]="true" 
          inputId="minmax-buttons" [min]="1" [max]="5">
          </p-inputNumber>
        </div>
        <div class="field">
          <label for="site">Site</label>
          <textarea rows="2"  class="inputfield w-full  p-inputtext " id="site" 
          pInputTextarea autoResize="autoResize"
            [(ngModel)]="hotel.site"></textarea>
         
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea rows="3"  class="inputfield w-full  p-inputtext " id="description" 
            pInputTextarea autoResize="autoResize"
              [(ngModel)]="hotel.description"></textarea>
           
          </div>
          <div class="field">
            <div class="flex justify-content-center ">
    
              <label class=" text-2xl " for="minmax-buttons">Services</label>
              
            </div>
    
          </div>
          <div class="field">
            <label  class="w-full text-lg">General </label>
            <p-multiSelect [options]="general" [(ngModel)]="selectedGeneralService" 
            optionLabel="service"
            
            optionValue="service" id="general" display="chip"  [style]="{width: '535px'}" 
            [virtualScroll]="true" 
            ></p-multiSelect>
            
          </div>

          <div class="field">
            <label for="entertainment" class="w-full">Entertainment and Sport Services</label>
            <p-multiSelect [options]="entertainment" [(ngModel)]="selectedEntertainmentService" 
            optionLabel="service"
            optionValue="service" id="entertainment" display="chip"  [style]="{width: '535px'}" 
            [virtualScroll]="true"
            ></p-multiSelect>
           
          </div>
          <div class="field">
            <label for="beach" class="w-full">Beach </label>
            <p-multiSelect [options]="beach" 
            [(ngModel)]="selectedBeach" 
            optionLabel="service"
            optionValue="service"
             id="beach" display="chip"  [style]="{width: '535px'}" 
            [virtualScroll]="true"
            ></p-multiSelect>
           
          </div>
          <div class="field">
            
            <label  class="w-full text-lg">For Kids</label>
             
            <p-multiSelect [options]="forkids" [(ngModel)]="selectedForKids" 
            [selectedItems]="selectedForKids"
            optionLabel="service" id="forkids" display="chip"
           
            optionValue="service"
            [style]="{width: '535px'}" 
            [virtualScroll]="true"
            ></p-multiSelect>
        
          </div>


      <div class="field">
        <div class="flex justify-content-center ">

          <label class=" text-2xl " for="minmax-buttons">Price for one day</label>
          
        </div>

      </div>

      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-vip">Vip Room: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="vipRoomCost" inputId="currency-us-vip"  mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>

      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-single">Single Room: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="singleRoomCost" inputId="currency-us-single"  mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>
    

      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-double">Double Room: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="doubleRoomCost" inputId="currency-us-double"  mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>


      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-triple">Triple Room: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="tripleRoomCost" inputId="currency-us-triple"  mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>


      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-extra_Bed">Extra Bed Room: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="extra_BedRoomCost" inputId="currency-us-extra_Bed"  mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>

      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-child">Child Room: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="childRoomCost" inputId="currency-us-child" 
             mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>



      <div class="field">
        <div class="flex justify-content-center ">

          <label class=" text-2xl " for="minmax-buttons">Food price</label>
          
        </div>

      </div>

      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-foodUltra">Ultra: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="foodUltraCost" inputId="currency-us-foodUltra" 
             mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>


      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-inclusive">All inclusive: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="foodAllInclusiveCost" inputId="currency-us-inclusive" 
             mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>



      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-passion">Full Passion: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="foodFullPassionCost" 
            inputId="currency-us-passion" 
             mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>


      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-dinner">Dinner: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="foodDinnerCost" 
            inputId="currency-us-dinner" 
             mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>


      <div class="field card">

        <div class="flex justify-content-between p-1 pl-2">
          <div class="flex align-items-center">
            <label  for="currency-us-breakfast">Breakfast: </label>

          </div>
          <div class="flex">
            <p-inputNumber [(ngModel)]="foodBreakfastCost" 
            inputId="currency-us-breakfast" 
             mode="currency" currency="USD"
             [minFractionDigits]="2">
             </p-inputNumber>
          </div>

        </div>


      </div>

  </div>


  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="button-text" (click)="saveHotel()"></button>
</ng-template>


  
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>