<footer>
  <div class="grid container m-auto">
  <div class="col-4 mt-4 text-left text-italic">
    <h5 class="text-uppercase">
  
      contact
    </h5>
   
    <h6  >
      Street: 123Address
      <br/>
      City: Rivne
      <br/>
      Zip Code: 33333
      <br/>
      Phone Number: +380990000000
      <br/>
      Mobile Number: +380999999999
    </h6>
   
      
    
   
    </div>
  
    <div class="col-3 mt-4 text-left text-italic">
      <h5 class="text-uppercase">
    
       menu
      </h5>
      <h6>
        <nav>
          <a [routerLink]="['/']">Home</a>
          <br/>
          <a [routerLink]="['/tour-list']">Tours</a>
          <br/>
  
          <a [routerLink]="['/filter-tour']">Filter</a>
         
        </nav>
      </h6>
      </div>
  
      <div class="col-2 mt-4 text-left text-italic">
        <h5 class="text-uppercase">
      
         follow
        </h5>
        <h6>
          <a href="https://www.facebook.com/" target="_blank">
          
            <i class="pi m-1 pi-facebook"></i>
          </a>
          <a href="https://twitter.com/" target="_blank">
          
            <i class="pi m-1 pi-twitter"></i>
          </a>
          <a href="https://web.telegram.org/k/" target="_blank">
          
            <i class="pi m-1 pi-send"></i>
          </a>
          <a href="https://discord.com/" target="_blank">
          
            <i class="pi m-1 pi-discord"></i>
          </a>
         
         
          <a href="https://www.youtube.com/" target="_blank">
          
            <i class="pi m-1 pi-youtube"></i>
          </a>
         
  
        </h6>
        </div>
  </div>
  
  <div class="text-center text-italic">
    <h5 class="text-uppercase">
    
      copyright
     </h5>
     <h6>
      <fa-icon class="icon" [icon]="faCopyright"></fa-icon>
      2021 Coaching. Build Using 
      <a href="https://primefaces.org/primeng/showcase/#/" target="_blank">PrimeNG</a>
     </h6>
  </div>
  </footer>