footer{
    background-color: #4caf50;
    min-height: 250px;
    color: white;
    bottom: 0;
}
a {
    color: white;
    text-decoration: underline;
}
a:hover{
    color:lightgray;
    text-decoration:transparent;

}
i:hover{
    color:lightgray;
    cursor: pointer;
}

@media (min-width : 768px) {
    html {
      font-size: 5px !important;
    }
  }
